body {
    margin: 0;
    padding: 0;
    background:radial-gradient(circle, #000000, #2e1e01c7);
    overflow-x: hidden;
    
}

.glass-container {
    background: rgba(150, 134, 134, 0.3); 
    border-radius: 20px;
    backdrop-filter: blur(1px);
    padding: 40px;
    margin: 0% 3%;
    height: 100%;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); 
    min-height: 100vh;
/* }
nav{
    background-color: black;
    height: fit-content;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

}
nav ul {
    display: inline-flex;
    flex-direction: row;
}
nav ul li{
    margin-right: 3%;
    margin-left: 4%;
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
} */

section {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;

}
.main-container{
    width: 100%;
    height: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
}
.min-container{
    background: #000;
    width: 26%;
    height: 656px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    border-radius: 15px;
}
.image-container{
    height: 400px;
    width: 90%;
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    display: inline-flex;
    flex-direction: column;
    border-radius: 120px;
}
.side-info{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  align-items: start;
}
.span-1{
    color: rgb(168, 6, 6);
    width: max-content;
    height: max-content;
    font-family: monospace;
    padding: 6px;
    background-color: #000;
    border-radius: 8px;
}
.span-2{
    color: rgb(7, 20, 202);
    width: max-content;
    height: max-content;
    font-family: monospace;
    padding: 6px;
    background-color: #000;
    border-radius: 8px;
}
.grass-2{
    display: inline-flex;
    flex-direction: column;
    background: rgba(22, 8, 8, 0.4); 
    border-radius: 20px;
    backdrop-filter: blur(2px);
    padding: 40px;
    margin-top: 13px;
    width: 80%;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); 
}
  
  footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 2em;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav {
    display: flex;
    align-items: center;
    color: #FFF;
    
    
}

header h1 {
    margin-top: 80px;
}


header nav ul {
    list-style: none;
    /* padding: 0; */
    text-decoration: none;
}

header nav ul li {
    display: inline;
    justify-content: space-between;
    margin: 0 1em;
    text-decoration: none;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;

}

header nav ul li a:hover {
    color: #0AB84C;
}

header nav ul li a:active {
    color: #0AB84C;
}

header img {
    width: 100px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    .main-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(75%, 1fr));
        gap: 20px;
    }
    .span-1{
        padding:1px;
    }
    nav{
        background-color: black;
        height: fit-content;
        width: 340px;
        padding-top: 8px;
        padding-bottom: 8px;
        display: inline-flex;
        justify-content:flex-start ;
        border-radius: 30px;
    }
    nav ul{
        display: inline-flex;
        flex-direction: row;
        align-items: start;
        justify-content: flex-start;
    }
    nav ul li{
        gap: 2px;
        list-style: none;
    }
    .glass-container{
        background: rgba(143, 110, 110, 0.4); 
        border-radius: 20px;
        backdrop-filter: blur(2px);
        padding: 10px;
        height: 100%;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); 
        min-height: 100vh;
    }
    section {
        display: inline-flex;
        align-items: center;
        width: 90%;
        min-height: 100vh;
        height: 100%;
    }

}
p{
    color: whitesmoke;
    font-size: 18px;
    text-align: justify;
    line-height: 32px;
}
#keny{
    background-image: url('../html/images/keny.jpg');
}
#jp{
    background-image: url('../html/images/jp.jpeg');
}
.email{
    font-size: 21px;
    font-family: monospace;
    font-weight: bold;
    color: grey;
}
}